---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Tim Bonnell">
	<section>
		<h1>Tim Bonnell</h1>
		<h2>Currently building <a href='https://txtsquad.com' target="_blank">TxtSquad</a> 🚀</h2>
	</section>
</Layout>

<style>
	section{ 
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 50vh;
	}
	h1 {
		padding-top: 1em;
		margin: 0;
	}
	h2 {
		padding: 0 0;
	}
	a{
		color: hsla(53, 100%, 52.0%, 0.956);
	}

</style>
